@model object

@{
    ViewBag.Title = "О проекте";
    Layout = "_Layout";
}
<br /><br />

<div class="container">
    <h2 class="text-center">О проекте</h2>
    <br /><br />


    <div class="panel panel-info">
        <div class="panel-heading"><h3 class="panel-title">Как пользоваться</h3></div>
        <div class="panel-body">
            Для пользования сервисом, вам необходимо присоединиться к боту @@ForThinksProject.
            Вам также необходимо пройти аутенфикацию используя Email и пароль,который был отправлен на вашу почту.
            Более подробную информацию можете получить отправив боту сообщение с командой '/info'.
            Далее вам необходимо в разделе "Настройки бота" выбрать количество ваших очерков в день
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Функционал</h3>
        </div>
        <div class="panel-body">
            Проект находится в разработке, но уже сейчас вы можете ознакомиться с основым функционалом.
            Перейдя в "Архив очерков" в навигационной панели, вы можете просмотреть список ваших очерков за все пользование сайтом
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Вопросы и пожелания</h3>
        </div>
        <div class="panel-body">
            Все вопросы и пожелания можете оставлять по адресу : terehin.eugene@yandex.ru
        </div>
    </div>
</div>

