@{
    ViewData["Title"] = "Confirm email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Спасибо за подтверждение email.Проверьте почту,Вам высланы данные для Telegram аутентификации
    </p>
</div>
